<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleForTestingServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ConsoleForTestingServices.Properties.Settings>
            <setting name="ConsoleForTestingServices_ServiceAuthorization_AuthorizationService"
                serializeAs="String">
                <value>http://localhost:53706/AuthorizationService.svc</value>
            </setting>
        </ConsoleForTestingServices.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthorizationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53706/AuthorizationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorizationService"
                contract="ServiceReference1.IAuthorizationService" name="BasicHttpBinding_IAuthorizationService" />
        </client>
    </system.serviceModel>
</configuration>